body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2013/03/07/15/37/building-91228_640.jpg);
}

h1 {
    text-align: center;
}

form {
    padding: 20px 80px;
    background-color: #fffffff5;
    background-size: 130px;
    font-size: 20px;
    width: 850px;
    margin: 0 auto;
}

.one {
    padding: 5px 70px;
    margin: 10px 20px;
    border-radius: 5px;
}

.two {
    padding: 5px 130px;
    margin: 10px 20px 15px 20px;
    border-radius: 5px;
}

button {
    padding: 5px 20px;
    background-color: #d6e01c;
    margin: 10px 290px;

}
